body{
    margin:0px;
    padding:0px;
}

.header{
    height: 565px;
    background-image: url(images/web.png);
}

.navbar{
    height: 100px;
    position: relative;
}

.button{
    height: 50px;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.login{
    
    right: 40px;
    background: transparent;
    border: 0px;
    color: white;
    font-size: inherit;
    font-weight: bold;
    font-family: 'Graphik',Helvetica,Arial,sans-serif;
    text-decoration: none !important;

}

.mainBox{
    height: 100%;
    position: relative;
}

.center{
    margin: 0;
    position: absolute;
    top: 25%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.white-bold-text{
    text-align: center;
    color: white;
    font-family: system-ui;
}

.subscribe{
    padding: 17px 30px;
    background: white;
    border: white;
    border-radius: 4px;
    font-size: x-large;
    font-family: sans-serif;
    letter-spacing: 2px;
    text-decoration: none !important;
    color: black;

}

.subscribe:hover{
    padding: 20px 33px;
}


.subscribe:focus {
    outline: none;
  }

.subscribe-2{
    background: transparent;
    border: 3px solid white;
    color: white;
    padding: 10px;
    border-radius: 4px;
}

.subscribe-2:hover {
    opacity: 0.6;
}

.ribbon{
    
    background: linear-gradient(318.68deg, #0F495C 0%, #0D3640 49.72%, #08141F 100%);
    /* padding: 34px 40px; */
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.row > div{
    flex-grow: 1;
    width: 33%;
    text-align: center;
}


/* plans */ 

.plans-main{
    width: 100%;
    padding-top: 60px;
}

.plans-internal{
    width: 80%;
    background:white;
    margin:auto;
    text-align: center;

}


.plan-comparison-chart {
    background-color: #fff;
    position: relative;
    padding-bottom: 40px;
}

.table>tbody>tr>td{
    padding: 28px;
    font-size: large;
}

.plan-feature__bullet_default{
    color: #B8BECC;
}

.plan-head__card-badge{
    background: #67728A;
    border-radius: 16px;
    width: -webkit-fill-available;
    padding: 6px 14px 6px 14px;
    color: white;
}

.plan-head__card-title{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    padding: 8px 0;
    margin-bottom: 6px;
}

.plan-head__card-eyebrow{
    font-size: 12px;
    padding-bottom: 4px;
    color: lightslategrey;
    margin-bottom: 6px;
}

.buy-button{
    height: 46px;
    min-width: 136px;
    padding: 0 32px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    text-align: center;
    background: black;
    color: white;
}


/* footer */ 

.myfooter{
    width: 100%;
    height: 200px;
    padding-top: 60px;
    background: #f5f6f7;
}

.myfooter-internal{
    width: 80%;
    margin:auto;
    text-align: center;

}


a:hover{
    text-decoration: none;
}

.mobile-plans-description
{
    display: none;
}

@media only screen and (max-width: 925px) {
    .plans-internal {
      width: 100%;
    }

    .faker{
        display: none;
    }

    .mobile-plans-description
    {
        display: contents;
    }

   .table>thead>tr>th{
       padding: 0px;
   }
}


@media only screen and (max-width: 500px) {
    .faker-popular {
        display: none;
    }
}
